@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 20% 98%;
    --foreground: 270 50% 15%;

    --muted: 270 20% 90%;
    --muted-foreground: 270 30% 40%;

    --popover: 270 20% 98%;
    --popover-foreground: 270 50% 15%;

    --border: 270 30% 85%;
    --input: 270 30% 85%;

    --card: 270 20% 98%;
    --card-foreground: 270 50% 15%;

    --primary: 270 60% 50%;
    --primary-foreground: 270 20% 98%;

    --secondary: 270 40% 40%;
    --secondary-foreground: 270 20% 98%;

    --accent: 270 30% 90%;
    --accent-foreground: 270 50% 15%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 270 60% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 270 30% 10%;
    --foreground: 270 20% 98%;

    --muted: 270 25% 20%;
    --muted-foreground: 270 20% 70%;

    --accent: 270 30% 25%;
    --accent-foreground: 270 20% 98%;

    --popover: 270 30% 10%;
    --popover-foreground: 270 20% 90%;

    --border: 270 30% 30%;
    --input: 270 30% 30%;

    --card: 270 30% 10%;
    --card-foreground: 270 20% 98%;

    --primary: 270 60% 60%;
    --primary-foreground: 270 20% 98%;

    --secondary: 270 40% 40%;
    --secondary-foreground: 270 20% 98%;

    --destructive: 0 70% 40%;
    --destructive-foreground: 270 20% 98%;

    --ring: 270 60% 60%;

    --radius: 0.5rem;
  }

  .input-sizer {
    display: inline-grid;
  }
  .input-sizer::after {
    content: attr(data-value) "  ";
    visibility: hidden;
    white-space: pre-wrap;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.prices {
  display: inline;
}
